.main{
  .react-tabs{
    height: 90%;
    display: flex;
    flex-direction: column;
    &__tab-list{
      margin: 0;
      color:#a88d7e;
    }
    &__tab{
      background:hsla(0,0%,100%,.3); 
      //border-bottom:3px solid #DEDDF1;
      &--selected {
        border-bottom:3px solid #4E598C;
        color:#4E598C;
        font-weight: bolder;
        border-color: #4E598C;
  
       
      }
    }
   
    &__tab-panel{
      flex: 1;
      //background:hsla(0,0%,100%,.3); 
      //background: #ABA9BF;
    }
  }
}