.underline{
    text-decoration: underline;
}
.text_left{
    text-align: left !important;
}
.text_right{
    text-align: right;
}
.ellipsis{
    // overflow:hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    margin:0;
}
.lh-30{
    line-height:30px !important;
}
.lh-35{
    line-height:35px !important;
}
.fw600{
    font-weight: 600;
}
.fw500{
    font-weight: 500;
}
.ls_005{
    letter-spacing: 0.05rem;
}
.fs09rem{
    font-size: 0.9rem !important;
}

.fs11rem{
    font-size: 1.1rem !important;
}
.fs14{
    font-size: 14px !important;
}